*{
    padding: 0;
    margin: 0;
}

body{
    background-color: seagreen;
}

p{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 22px;
    font: optional;
    background-color: transparent;
    color:snow;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background-color: snow;
}

.navegacion > ul{
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu > li > a{
    text-align: center;
    display: block;
    padding: 15px 20px;
    color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.menu > li > a :hover{
    color: gold;
    transition: all .3s;
}

#name{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

#SandU{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

